# Recap
- Jupyter Notebook : 데이터 분석을 하기 위한 IDE(Interactive Develop Environment)
    - 마크다운과 cell로 구성되어 있다
    - 주피터 노트북 단축키 사용을 익히자 (class 1. 주피터 노트북 파일 참고)
  
# Python에 대해서 알아보자
## python의 장점
- 프로그래밍 용어들 중에서 가장 직관적인 언어로 알려져 있다.
- 현재 프로그래머들 중에서 사용되는 프로그래밍 언어 2위이다.
- 유연한 언어에 속해 파이썬으로 다양한 코딩 작업을 할 수 있음 (프론트앤드, 시스템작업, 데이터분석..)
    
## python의 특징
- 파이썬은 **인터프리터 언어**다. -> 이 말은 **컴파일러 언어**와 대치되는 언어다.
- 일종의 해석기가 cpu와 소통을 도와주는데, 프로그래밍하기에 편하다는 장점이 있다.
- 동시에 인터프리터가 없이는 코딩이 되지 않으므로 다른 언어에 비해 무겁다는 얘기도 된다. 무겁다는 것은 느리다는 얘기다.

## 자료형 및 연산자
- 자료형이란 무엇인가?
    - 자료형이란 프로그래밍 언어가 기본적으로 데이터를 저장하는 형태를 말한다. 모든 프로그래밍 언어는 자신만의 자료구조가 있다. 
    - 파이썬의 경우 기본 자료구조가 숫자형(int, float), boolean, 글자형(str) 이 있다.

In [1]:
?int

Init signature: int(self, /, *args, **kwargs)
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Type:           type
Subclasses:     bool, IntEnum, IntFlag, _NamedIntConstant

In [2]:
int(1), float(1)

(1, 1.0)

기본적인 연산을 해보자

In [5]:
1+1, 1 - 1, 1 * 1, 1 / 1

(2, 0, 1, 1.0)

In [9]:
# 제곱
2**3

# 나누기
10/2

# 몫

10//2

# 나머지
7 % 2

1

In [10]:
2**3

8

In [3]:
# 할당 연산자
# = 는 할당해주는 기호

a = 1
a

1

In [4]:
a * 10

10

boolean

- True, False만 가짐
- bool의 이름을 따서 만들었음

In [5]:
type(True)

bool

In [38]:
mybool = True

mybool

True

In [6]:
a > 1
# 계산 연산시 true, false 같은 boolean을 반환해줌

False

문자형

In [13]:
'hello'

'hello'

In [11]:
'hello' + " " + 'hello'

'hello hello'

In [12]:
'hello'*2

'hellohello'

문자형 인덱싱

In [31]:
"hello my name is Joe"[0]

'h'

In [32]:
"hello my name is Joe"[1:4]

'ell'

In [16]:
'안녕하세요, 저는 마이크입니다.'[3:5]

'세요'

문자형 포맷팅

In [33]:
# %를 이용한 포맷팅 

'hello my name is %s' % 'mike'
print('my age is %2d' % 200)
print('my age is %3.2f' %0.13)

my age is 200
my age is 0.13

In [34]:
# .format을 이용한 포맷팅

'my name is {}'.format('wonseok')
"my brother's name is {a} and my dog's name is {b}".format(a='WJ', b= 'benny')
"my brother's name is {a} and my dog's name is {b}".format(b='WJ', a= 'benny')

"my brother's name is benny and my dog's name is WJ"

자신의 이름과 나이를 한번 print 해보세요

In [34]:
"my brother's name is {a} and my dog's name is {b}".format(b=10, a= 'benny')

"my brother's name is benny and my dog's name is 10"

In [35]:
# f 문자열 포맷팅

name = 'wonseok'
f"my name is {name}"

'my name is wonseok'

## 고급 자료구조들
- list : 어떤 객체든 다 담을 수 있다. 순서가 있고, indexing이 가능함. 
- tuple : 어떤 객체든 다 담을 수 있다. 순서가 있음. indexing이 가능하지만 한번 만들고 나서는 요소를 추가할 수 없음
- dictionary : 어떤 객체든 담을 수 있지만, 'key' 값은 반드시 unique해야 함. key : value 의 구조로 이루어져 있다. 
- set : 집합. unique한 값만 들어갈 수 있는 구조. 숫자형, 어떤 객체든 들어갈 수 있다.

In [35]:
mylist = list()

mylist.append(1)
mylist.append(2)
mylist.append('banana')
mylist.append('apple')

In [36]:
mylist

[1, 2, 'banana', 'apple']

In [42]:
# indexing 은 0부터 시작
mylist[0]

mylist[:-2]

mylist[1:-2]

mylist[-1] # 반대에서는 -1부터

'apple'

In [43]:
mylist * 2

[1, 2, 'banana', 'apple', 1, 2, 'banana', 'apple']

In [44]:
mylist.extend(['strawberry', 'apple'])

In [45]:
mylist

[1, 2, 'banana', 'apple', 'strawberry', 'apple']

In [46]:
# element의 가장 첫번째 발생하는 index를 반환

mylist.index('apple')

3

In [47]:
mylist.remove('apple')

In [48]:
mylist

[1, 2, 'banana', 'strawberry', 'apple']

In [49]:
# index의 원소를 제거하면서 반환
mylist.pop(1)

2

In [50]:
mylist

[1, 'banana', 'strawberry', 'apple']

In [51]:
# 순서 전환
mylist.reverse()

In [52]:
mylist

['apple', 'strawberry', 'banana', 1]

In [53]:
mylist = [1,3,10,2,4,-10]

sorted(mylist)

[-10, 1, 2, 3, 4, 10]

In [87]:
mylist[::2]

[1, 10, 4]

In [20]:
mylist.append(1)

mylist.count(1)

2

In [62]:
mytuple = ('apple', 1, 'banana')

In [56]:
mytuple[0] # indexiing

mytuple[1:]

(1, 'banana')

In [64]:
mytuple.count(1)

1

In [65]:
mytuple.append('2')

# 튜플은 구성 요소가 새로 추가될 수 없는 자료구조

AttributeError: 'tuple' object has no attribute 'append'

In [66]:
mydict = {'key':'value'}
# 키값과 밸류 값으로 구성

mydict

{'key': 'value'}

In [67]:
mydict['key']

'value'

In [68]:
mydict.get('key')

'value'

In [69]:
mydict['new_key'] = 'new_value'

mydict

{'key': 'value', 'new_key': 'new_value'}

In [70]:
mydict.pop('key')

# value를 내보내며 키, 밸류 제거

'value'

In [71]:
mydict.values()

dict_values(['new_value'])

In [72]:
mydict.keys()

dict_keys(['new_key'])

In [73]:
mydict['new_key'] = 'another value'

mydict
# 키값은 unique한 것만 존재함

{'new_key': 'another value'}

## Practice (연습문제)

1. user의 닉네임과 비밀번호를 딕셔너리에 key 와 value의 형태로 저장해보세요.
- hint1 : key는 닉네임, 비밀번호가 돼야 합니다.

In [79]:
user1 = {'user1':'pass_word1'}
user2 = {'user2':'pass_word2'}

information_list = [user1, user2]

In [85]:
information_dict = {'users':['user1','user2'], 'pass_word':['pass_word1', 'pass_word2']}

index = information_dict['users'].index('user1')
pass_word = information_dict['pass_word'][index]

# check if password is the same

### Iterable에 대한 이해
- 반복문 객체란
    - 반복문을 거치면서 원소를 내뱉을 수 있는 object를 이야기함. 
    - object란 쉽게 말해 컴퓨터 프로그램상에서 여러 기능을 갖고 있는 존재를 말함

In [3]:
mylist = [1,2,3,4,5]

for i in mylist :
    print(i)
    if i == 3 :
        break

# 리스트나 튜플, 딕셔너리는 iterable이다.

1
2
3

In [7]:
mydict = {'wonseok':4, 'mydog': 3, 'mother':2}

for i in mydict.items():
    print(i)

('wonseok', 4)
('mydog', 3)
('mother', 2)

## For, While, try and except

In [13]:
# for 문
# 계산복잡도 O(n) 임

for i in range(0,100):
    if (i % 10) == 0 :
        # 나머지가 0이면 print
        print(i)

0
10
20
30
40
50
60
70
80
90

In [22]:
# 이중 for문
# 계산 복잡도 O(n^2)

for i in range(0, 20):
    for j in range(0, 10):
        if ((i * j) % 53) == 0 :
            print('i와 j의 곱은 53의 배수다')

i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다
i와 j의 곱은 53의 배수다

list comprehension
- 리스트 안에서 for문을 도는 것

dictionary comprehension
- 딕셔너리도 comprehension기능이 있음

In [24]:
mylist = [i for i in range(1, 9)]

In [31]:
# 이중 for문 list comprehension

mylist = [(i,j) for j in range(5,8) for i in range(0,7)] # 뒤에꺼가 먼저 돈다
mylist

[(0, 5),
 (1, 5),
 (2, 5),
 (3, 5),
 (4, 5),
 (5, 5),
 (6, 5),
 (0, 6),
 (1, 6),
 (2, 6),
 (3, 6),
 (4, 6),
 (5, 6),
 (6, 6),
 (0, 7),
 (1, 7),
 (2, 7),
 (3, 7),
 (4, 7),
 (5, 7),
 (6, 7)]

In [32]:
{i:j for i,j in mylist}

# 반복되는 키값은 갱신된다.

{0: 7, 1: 7, 2: 7, 3: 7, 4: 7, 5: 7, 6: 7}

While loop

In [36]:
count = 0
a = True
while a is True :
# while a == True : 도 된다.
    count += 1
    if count == 10 :
        a = False
        print('a is not true')
    else :
        print('a is True')

a is True
a is True
a is True
a is True
a is True
a is True
a is True
a is True
a is True
a is not true

## IF else statements

In [40]:
condition = True

if condition : # boolean 값을 인자로 받음
    print('조건이 충족되었습니다.')

else :
    print('조건이 충족되지 못했습니다.')

조건이 충족되었습니다.

In [47]:
# 모든 객체는 True이다
# 0은 boolean False
# None도 False

if 0 :
    print('okay')
else : 
    print('not okay')

not okay

In [46]:
bool(None)

False

In [52]:
condition1 = True
condition2 = True


if condition1 :
    print('조건 1 성립')
    # 여기서 바로 빠져나옴
elif condition2:
    print('조건 2 성립')

else :
    print('아무 것도 성립하지 않았다')
    

# 이런 경우에는 어떻게 될까?
if condition1 :
    print('조건 1 성립')
    # 여기서 바로 빠져나옴
if condition2:
    print('조건 2 성립')

else :
    print('아무 것도 성립하지 않았다')

조건 1 성립
조건 1 성립
조건 2 성립

## Try and Except
- 에러를 관리하기 위한 방법

```
try : 
    연산.
    
except :
    연산 혹은 raise error
```

In [56]:
try :
    print('hello world!')
    
    df

except :
    print('There is an error in the statement')

hello world!
There is an error in the statement

# Variable(변수)
- 값을 저장해놓는 객체(존재)를 말한다.
    - 숫자는 객체가 될 수 없다.
    - 같은 이름을 가질 경우 가장 최근에 선언된 변수의 값이 객체에 덮어씌워진다.
    
  
```
my_name = 'Tom' # 변수를 "선언"했다.
my_age = 20

```

- my_name --> 'Tom'을 가리키고 있다.
- my_age --> 20을 가리키고 있다.

In [52]:
my_name = 'Tom'
my_age = 20

In [53]:
my_name

'Tom'

# Function(함수)

- input과 output이 있는 기본적인 프로그램
- 함수의 구조

```
def 함수_이름(인자):

    인자를 활용한 계산

    return 결과값
```

In [58]:
def myfunction(my_input):
    print(f'this is {my_input}')
    return 0

In [59]:
myfunction('hello world')

this is hello world

0

In [6]:
def my_calculator(a, b, operation):
    '''
    docstring : 이 함수는 인자 a, b를 받고 operation을 진행해서 반환합니다.
    a, b : 숫자형이어야 함 (int or float)
    operation : plus, minus, multiply, devide ; strings
    '''
    if operation == 'plus':
        return a + b
    elif operation == 'minus':
        return a - b
    elif operation == 'multiply' :
        return a * b
    else :
        return a / b

In [8]:
my_calculator(2,10, 'minus')

-8

In [11]:
?my_calculator

Signature: my_calculator(a, b, operation)
Docstring:
docstring : 이 함수는 인자 a, b를 받고 operation을 진행해서 반환합니다.
a, b : 숫자형이어야 함 (int or float)
operation : plus, minus, multiply, devide ; strings
File:      /tmp/ipykernel_7140/1770798022.py
Type:      function

In [14]:
# 함수의 호출

my_calculator

In [16]:
# 함수(*)는 함수를 실행시키는 것이다. 이를 **호출한다**라고 표현합니다.

my_calculator()

TypeError: my_calculator() missing 3 required positional arguments: 'a', 'b', and 'operation'

파이썬 함수는 입력할 수 있는 인자들이 여러개 있습니다.
- 그냥 인자
- *args
- **kwargs

In [27]:
# *args로 해줄 경우에 들어갈 인자의 제한을 없애주게 됨

def args_function(*args):
    
    print("args는 이렇게 나타남")
    print(f"{args}")
    
    pass

def kwargs_function(**kwargs):
    
    print("kwargs는 이렇게 나타남")
    print(f"{kwargs}")
    
    pass

In [28]:
args_function('a', 'bananna', 10)

args는 이렇게 나타남
('a', 'bananna', 10)

In [30]:
kwargs_function(name='Wonseok', age = 15, location='Seocho')

kwargs는 이렇게 나타남
{'name': 'Wonseok', 'age': 15, 'location': 'Seocho'}

## 지역변수와 전역변수
- 지역변수 : 함수나 객체 내에서 정의된 변수
- 전역변수 : 연산 전체 과정에서 정의된 변수

In [66]:
# 지역변수 Local variable 예시

def my_simple_function(argument1):
    
    local_variable = argument1
    print(f"이게 지역변수입니다 : {local_variable}")
    pass


my_simple_function(10)

이게 지역변수입니다 : 10

In [67]:
# 셀상에서 찾아보면 없다고 나온다.
local_variable

NameError: name 'local_variable' is not defined

In [71]:
global_variable = 'Thomas'

def my_simple_function(argument1):
    
    local_variable = argument1
    global global_variable 
    
    global_variable = "New_name"
    
    print(f"이게 지역변수입니다 : {local_variable}")
    
    print(f"이건 전역변수입니다 : {global_variable}")
    pass

my_simple_function('local variable argument')

이게 지역변수입니다 : local variable argument
이건 전역변수입니다 : New_name

In [73]:
global_variable

'New_name'

## Input 입력 함수

In [79]:
# input 함수

something_you_write = input()

print(f'입력된 것은 {something_you_write} 입니다')

 사과

입력된 것은 사과 입니다

In [80]:
something_you_write1 = input()
something_you_write2 = input()

print(f'입력된 것 첫번째는 {something_you_write1} 입니다')
print(f'입력된 것 두번째는 {something_you_write2} 입니다')

 사과
 바나나

입력된 것 첫번째는 사과 입니다
입력된 것 두번째는 바나나 입니다

## Practice (연습문제)

1. 사용자(user)가 왔을 때, 닉네임과 비밀번호를 입력하게 만들고 그것을 변수에 저장한 후 저장된 변수를 반환하는 함수를 만드시오.
- hint1 : input 함수를 사용할 것
- hint2 : 인터넷에 input 함수를 검색

2. 위에서 만든 함수를 새롭게 추가하여 닉네임에 메일을 달아주는 함수를 만들어라

In [88]:
def save_user_information():
    print('please input your user name')
    user_name = input()
    print('please input your pass word')
    user_password = input()
    return user_name, user_password

In [89]:
save_user_information()

please input your user name

 sally

please input your pass word

 sally123

('sally', 'sally123')

In [90]:
def save_user_information():
    print('please input your user name')
    user_name = input()
    print('please input your pass word')
    user_password = input()
    
    user_info = {"user":user_name, "password":user_password, "email":user_name+"@email.com"}
    return user_info

In [92]:
b1 = save_user_information()
b2 = save_user_information()

please input your user name

 sally

please input your pass word

 sally123

please input your user name

 bob

please input your pass word

 bob123

In [94]:
b1.update(b2)

## Lambda 함수
```
lambda input_value : operation
```
- 호출될 때만 메모리로 올라오는 함수

## map 함수
```
map(function, list)
```
- 같은 연산을 list에 있는 모든 값들에 대해서 적용하고 싶을 때 사용할 수 있음

## filter 함수
```
filter(function, list) 
```
- 리스트에서 True를 반환하는 요소들에 대해서만 걸러서 주는 함수

In [88]:
f = lambda x : x + 2

In [89]:
f(1)

3

In [91]:
def plus_2(x): return x + 2

In [93]:
plus_2(1)

3